.spinner-wrap {
    position: absolute;
    right: 100px;
    width: 64px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner{
    width: 32px;
    height: 32px;
}