.error-slide-wrap-show, .error-slide-wrap-hide {
    width: 100%;
    display: inline-block;
    background-color: #971C1C;
    z-index: 10;
    position: absolute;
}

.error-slide-wrap-hide {
    display: none;
}

.error-slide {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    color: white;
    background-color: #971C1C;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-title, .error-message {
    color: #F0EBD8;
}

.close {
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 0.7;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #F0EBD8;
}
.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

@media screen and (max-width: 1200px) {
    .error-slide {
        width: 100%;
    }
}