.auth-input-wrap {
    position: relative;
}

.input-image {
    position: absolute;
    left: 9px;
    top: 7px;
    height: 26px;
    width: 26px;
}

@media screen and (max-width: 400px) {
    /* .input-image {
        left: 40px;
    } */
}