button,
button:active,
button:focus {
    outline: none;
}

.login-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
}

#login-form {
    padding: 4px;
    border-radius: 3px;
    display: block;
    width: 300px;
    padding: 20px 0;
    margin-top: 135px;
    margin-left: 700px;
}

.form-wrap {
    width: 1200px;
    margin: 0 auto;
}

#login-form label,
input {
    margin: 0 0 0 10%;
}



.button-one {
    border: none;
    margin: 0 auto;
    display: inherit;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    color: #F0EBD8;
    background-color: #748CAB;
    border-color: #748CAB;
    margin-top: 15px;
}

.button-one:hover {
    background-color: #738BAB;
}

.button-one:active {
    background-color: #0D1321;
}

.login-input,
.password-input,
.login-input-wrong,
.password-input-wrong {
    height: 20px;
    width: 246px;
    border-radius: 4px;
    color: #8e9ba9;
    font-family: 'PT Sans';
    margin: 10px 0;
    margin: 20px auto;
    display: block;
    border: none;
    padding: 10px 10px 10px 40px;
    font-size: 14px;
    border: solid 1px transparent;
}

.login-input {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.password-input {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.login-input-wrong, .password-input-wrong {
    border: solid 1px rgb(245, 4, 4);
}
.remind {
    float: left;
    margin-top: 15px;
}

.signup {
    float: right;
    margin-top: 15px;
}

.links a {
    color: white;
}

.links a:visited {
    color: white;
}

@media screen and (max-width: 1200px) {
    .logo-title {
        font-size: 75px;
    }
    #login-form {
        margin-top: 3em;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .logo-title {
        font-size: 75px;
    }
    #login-form {
        margin-top: 3em;
        margin: 0 auto;
    }
    .form-wrap {
        width: 100%;
        margin: 0 auto;
    }
}