body,
html {
    width: 100%;
    height: 100%;
    /* min-width: 400px; */
    min-height: 100%;
    background-color: #3E5C76;
}

body {
    height: inherit;
    font-family: 'PT Sans';
}

#root {
    height: 100%;
}

#root>div {
    height: 100%;
}

.layout {
    min-width: 1200px;
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .layout {
        min-width: 0;
        min-height: 100%;

    }
}